USE [master]
GO
/****** Object:  Database [QuanLyThuVien]    Script Date: 3/31/2021 12:37:41 AM ******/
CREATE DATABASE [QuanLyThuVien]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyThuVien', FILENAME = N'D:\SQL\MSSQL15.SQLEXPRESS\MSSQL\DATA\QuanLyThuVien.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyThuVien_log', FILENAME = N'D:\SQL\MSSQL15.SQLEXPRESS\MSSQL\DATA\QuanLyThuVien_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyThuVien].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyThuVien]
GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 3/31/2021 12:37:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT](
	[IDAccount] [varchar](50) NOT NULL,
	[PasswordAccount] [varchar](100) NOT NULL,
	[TypeOfAccount] [varchar](50) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[IDAccount] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ADMIN]    Script Date: 3/31/2021 12:37:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADMIN](
	[IDAdmin] [varchar](50) NOT NULL,
	[IDAccount] [varchar](50) NOT NULL,
	[NameAdmin] [nvarchar](100) NOT NULL,
	[Birthday] [datetime] NOT NULL,
	[Address] [nvarchar](200) NULL,
	[Email] [varchar](100) NOT NULL,
	[NumberPhone] [varchar](50) NOT NULL,
 CONSTRAINT [PK_ADMIN] PRIMARY KEY CLUSTERED 
(
	[IDAdmin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BCTKMUONSACH]    Script Date: 3/31/2021 12:37:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BCTKMUONSACH](
	[MaBCTKMuonSach] [varchar](50) NOT NULL,
	[Thang] [date] NOT NULL,
	[TongSoLuotMuon] [int] NOT NULL,
 CONSTRAINT [PK_BCTKMuonSach] PRIMARY KEY CLUSTERED 
(
	[MaBCTKMuonSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BCTKTRATRE]    Script Date: 3/31/2021 12:37:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BCTKTRATRE](
	[MaBCTKTraTre] [varchar](50) NOT NULL,
	[Ngay] [date] NOT NULL,
 CONSTRAINT [PK_BCTKTraTre] PRIMARY KEY CLUSTERED 
(
	[MaBCTKTraTre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETPHANQUYEN]    Script Date: 3/31/2021 12:37:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPHANQUYEN](
	[IDAccount] [varchar](50) NOT NULL,
	[IDPer] [varchar](50) NOT NULL,
	[suspended] [bit] NOT NULL,
 CONSTRAINT [PK_CHITIETPHANQUYEN] PRIMARY KEY CLUSTERED 
(
	[IDPer] ASC,
	[IDAccount] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTBCTKMUONSACH]    Script Date: 3/31/2021 12:37:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTBCTKMUONSACH](
	[MaBCTKMuonSach] [varchar](50) NOT NULL,
	[MaTheLoai] [varchar](50) NOT NULL,
	[SoLuotMuon] [int] NOT NULL,
	[TiLe] [float] NOT NULL,
 CONSTRAINT [PK_CTBCTKMuonSach] PRIMARY KEY CLUSTERED 
(
	[MaBCTKMuonSach] ASC,
	[MaTheLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTBCTKTRATRE]    Script Date: 3/31/2021 12:37:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTBCTKTRATRE](
	[MaBCTKTraTre] [varchar](50) NOT NULL,
	[MaPhieuMS] [varchar](50) NOT NULL,
	[MaSach] [varchar](50) NOT NULL,
	[SoNgayTraTre] [int] NOT NULL,
 CONSTRAINT [PK_CTBCTKTRATRE] PRIMARY KEY CLUSTERED 
(
	[MaBCTKTraTre] ASC,
	[MaPhieuMS] ASC,
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTPHIEUMUON]    Script Date: 3/31/2021 12:37:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPHIEUMUON](
	[MaPhieuMS] [varchar](50) NOT NULL,
	[MaSach] [varchar](50) NOT NULL,
	[HanTra] [datetime] NOT NULL,
	[TinhTrangMuon] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_CTPHIEUMUON] PRIMARY KEY CLUSTERED 
(
	[MaPhieuMS] ASC,
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOCGIA]    Script Date: 3/31/2021 12:37:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCGIA](
	[MaDocGia] [varchar](50) NOT NULL,
	[HoTen] [nvarchar](200) NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[DiaChi] [nvarchar](200) NOT NULL,
	[Email] [nvarchar](200) NOT NULL,
	[NgayLapThe] [date] NOT NULL,
	[NgayHetHan] [date] NOT NULL,
	[MaLoaiDocGia] [varchar](50) NOT NULL,
	[IDAccount] [varchar](50) NOT NULL,
	[SDT] [varchar](50) NOT NULL,
	[TongNo] [decimal](18, 0) NOT NULL,
	[GioiThieu] [nvarchar](500) NULL,
 CONSTRAINT [PK_DOCGIA] PRIMARY KEY CLUSTERED 
(
	[MaDocGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIDOCGIA]    Script Date: 3/31/2021 12:37:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIDOCGIA](
	[MaLoaiDocGia] [varchar](50) NOT NULL,
	[TenLoaiDocGia] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_LOAIDOCGIA] PRIMARY KEY CLUSTERED 
(
	[MaLoaiDocGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERMISSION]    Script Date: 3/31/2021 12:37:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERMISSION](
	[IDPer] [varchar](50) NOT NULL,
	[NamePer] [nvarchar](100) NOT NULL,
	[CodeAction] [varchar](100) NOT NULL,
	[Description] [nvarchar](200) NULL,
 CONSTRAINT [PK_PERMISSION] PRIMARY KEY CLUSTERED 
(
	[IDPer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUMUONSACH]    Script Date: 3/31/2021 12:37:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUMUONSACH](
	[MaPhieuMS] [varchar](50) NOT NULL,
	[MaDocGia] [varchar](50) NOT NULL,
	[NgayMuon] [date] NOT NULL,
 CONSTRAINT [PK_PHIEUMUONSACH] PRIMARY KEY CLUSTERED 
(
	[MaPhieuMS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUTHUTIENPHAT]    Script Date: 3/31/2021 12:37:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUTHUTIENPHAT](
	[MaPhieuThuTP] [varchar](50) NOT NULL,
	[MaDocGia] [varchar](50) NOT NULL,
	[TongNo] [decimal](18, 0) NOT NULL,
	[SoTienThu] [decimal](18, 0) NOT NULL,
	[ConLai] [decimal](18, 0) NOT NULL,
	[NgayThu] [datetime] NOT NULL,
 CONSTRAINT [PK_PHIEUTHUTIENPHAT] PRIMARY KEY CLUSTERED 
(
	[MaPhieuThuTP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUTRASACH]    Script Date: 3/31/2021 12:37:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUTRASACH](
	[MaPhieuMS] [varchar](50) NOT NULL,
	[MaSach] [varchar](50) NOT NULL,
	[NgayTra] [date] NOT NULL,
	[SoNgayMuon] [int] NOT NULL,
	[TienPhat] [decimal](18, 0) NOT NULL,
	[TinhTrangTraSach] [nvarchar](200) NOT NULL,
	[GhiChu] [nvarchar](200) NULL,
 CONSTRAINT [PK_PHIEUTRASACH] PRIMARY KEY CLUSTERED 
(
	[MaPhieuMS] ASC,
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SACH]    Script Date: 3/31/2021 12:37:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SACH](
	[MaSach] [varchar](50) NOT NULL,
	[TenSach] [nvarchar](100) NOT NULL,
	[MaTheLoai] [varchar](50) NOT NULL,
	[NamXuatBan] [int] NOT NULL,
	[NhaXuatBan] [nvarchar](100) NULL,
	[MaTacGia] [varchar](50) NOT NULL,
	[NgayNhap] [date] NOT NULL,
	[TriGia] [decimal](18, 0) NOT NULL,
	[MaTinhTrang] [varchar](50) NOT NULL,
 CONSTRAINT [PK_SACH] PRIMARY KEY CLUSTERED 
(
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TACGIA]    Script Date: 3/31/2021 12:37:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TACGIA](
	[MaTacGia] [varchar](50) NOT NULL,
	[TenTacGia] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_TACGIA] PRIMARY KEY CLUSTERED 
(
	[MaTacGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THAMSO]    Script Date: 3/31/2021 12:37:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THAMSO](
	[MaThamSo] [int] IDENTITY(1,1) NOT NULL,
	[TuoiToiDa] [int] NOT NULL,
	[TuoiToiThieu] [int] NOT NULL,
	[ThoiHanThe] [int] NOT NULL,
	[KhoangCachXB] [int] NOT NULL,
	[SoNgayMuonMax] [int] NOT NULL,
	[SoSachMuonMax] [int] NOT NULL,
	[TPTraTreMotNgay] [decimal](18, 0) NOT NULL,
	[SoLuongTheLoaiMax] [int] NOT NULL,
	[SoLuongTacGia] [int] NOT NULL,
 CONSTRAINT [PK_THAMSO] PRIMARY KEY CLUSTERED 
(
	[MaThamSo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THELOAI]    Script Date: 3/31/2021 12:37:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THELOAI](
	[MaTheLoai] [varchar](50) NOT NULL,
	[TenTheLoai] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_THELOAI] PRIMARY KEY CLUSTERED 
(
	[MaTheLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TINHTRANG]    Script Date: 3/31/2021 12:37:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TINHTRANG](
	[MaTinhTrang] [varchar](50) NOT NULL,
	[TenTinhTrang] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_TINHTRANG] PRIMARY KEY CLUSTERED 
(
	[MaTinhTrang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ACCOUNT] ([IDAccount], [PasswordAccount], [TypeOfAccount]) VALUES (N'17520004', N'12345678', N'USER')
INSERT [dbo].[ACCOUNT] ([IDAccount], [PasswordAccount], [TypeOfAccount]) VALUES (N'17520029', N'12345678', N'USER')
INSERT [dbo].[ACCOUNT] ([IDAccount], [PasswordAccount], [TypeOfAccount]) VALUES (N'17520035', N'12345678', N'USER')
GO
INSERT [dbo].[ADMIN] ([IDAdmin], [IDAccount], [NameAdmin], [Birthday], [Address], [Email], [NumberPhone]) VALUES (N'AD0001', N'admin', N'Thân Văn Sơn', CAST(N'1980-05-30T00:00:00.000' AS DateTime), N'Bắc Giang', N'admin@gmail.com', N'0868724834')
INSERT [dbo].[ADMIN] ([IDAdmin], [IDAccount], [NameAdmin], [Birthday], [Address], [Email], [NumberPhone]) VALUES (N'AD0002', N'admin_qldg', N'Nguyễn Anh Minh', CAST(N'1988-02-15T00:00:00.000' AS DateTime), N'Hà Nội', N'admin1@gmail.com', N'01269482943')
INSERT [dbo].[ADMIN] ([IDAdmin], [IDAccount], [NameAdmin], [Birthday], [Address], [Email], [NumberPhone]) VALUES (N'AD0003', N'admin_qls', N'Đặng Xuân Hữu', CAST(N'1983-09-24T00:00:00.000' AS DateTime), N'Hà Nội', N'admin2@gmail.com', N'0905559724')
GO
INSERT [dbo].[CHITIETPHANQUYEN] ([IDAccount], [IDPer], [suspended]) VALUES (N'admin', N'IP002', 1)
INSERT [dbo].[CHITIETPHANQUYEN] ([IDAccount], [IDPer], [suspended]) VALUES (N'admin_qldg', N'IP003', 1)
INSERT [dbo].[CHITIETPHANQUYEN] ([IDAccount], [IDPer], [suspended]) VALUES (N'admin_qls', N'IP004', 1)
GO
INSERT [dbo].[CTPHIEUMUON] ([MaPhieuMS], [MaSach], [HanTra], [TinhTrangMuon]) VALUES (N'PM000001', N'S000007', CAST(N'2019-06-19T00:00:00.000' AS DateTime), N'Quá hạn')
INSERT [dbo].[CTPHIEUMUON] ([MaPhieuMS], [MaSach], [HanTra], [TinhTrangMuon]) VALUES (N'PM000001', N'S000020', CAST(N'2019-07-20T00:00:00.000' AS DateTime), N'Quá hạn')
INSERT [dbo].[CTPHIEUMUON] ([MaPhieuMS], [MaSach], [HanTra], [TinhTrangMuon]) VALUES (N'PM000001', N'S000030', CAST(N'2019-06-20T00:00:00.000' AS DateTime), N'Đã trả')
GO
INSERT [dbo].[DOCGIA] ([MaDocGia], [HoTen], [NgaySinh], [DiaChi], [Email], [NgayLapThe], [NgayHetHan], [MaLoaiDocGia], [IDAccount], [SDT], [TongNo], [GioiThieu]) VALUES (N'DG000001', N'Nguyễn Lương Duy', CAST(N'1999-01-14' AS Date), N'Quảng Nam', N'17520004@uit.edu.vn', CAST(N'2019-03-02' AS Date), CAST(N'2019-08-02' AS Date), N'LDG001', N'17520004', N'01639893353', CAST(0 AS Decimal(18, 0)), N'')
INSERT [dbo].[DOCGIA] ([MaDocGia], [HoTen], [NgaySinh], [DiaChi], [Email], [NgayLapThe], [NgayHetHan], [MaLoaiDocGia], [IDAccount], [SDT], [TongNo], [GioiThieu]) VALUES (N'DG000002', N'Phạm Tuấn Anh', CAST(N'1999-01-14' AS Date), N'Bình Dương', N'17520029@uit.edu.vn', CAST(N'2019-05-09' AS Date), CAST(N'2019-10-09' AS Date), N'LDG001', N'17520029', N'0868992467', CAST(0 AS Decimal(18, 0)), N'')
INSERT [dbo].[DOCGIA] ([MaDocGia], [HoTen], [NgaySinh], [DiaChi], [Email], [NgayLapThe], [NgayHetHan], [MaLoaiDocGia], [IDAccount], [SDT], [TongNo], [GioiThieu]) VALUES (N'DG000003', N'Huỳnh Trầm Bảo Chấn', CAST(N'1999-10-06' AS Date), N'Trà Vinh', N'17520035@uit.edu.vn', CAST(N'2019-05-13' AS Date), CAST(N'2019-10-13' AS Date), N'LDG001', N'17520035', N'0583335622', CAST(300000 AS Decimal(18, 0)), N'')
GO
INSERT [dbo].[LOAIDOCGIA] ([MaLoaiDocGia], [TenLoaiDocGia]) VALUES (N'LDG001', N'Sinh Viên')
INSERT [dbo].[LOAIDOCGIA] ([MaLoaiDocGia], [TenLoaiDocGia]) VALUES (N'LDG002', N'Giảng Viên')
INSERT [dbo].[LOAIDOCGIA] ([MaLoaiDocGia], [TenLoaiDocGia]) VALUES (N'LDG003', N'Nhân Viên Văn Phòng')
GO
INSERT [dbo].[PERMISSION] ([IDPer], [NamePer], [CodeAction], [Description]) VALUES (N'IP001', N'Độc Giả', N'DG', N'Chỉ được xem thông tin của mình')
INSERT [dbo].[PERMISSION] ([IDPer], [NamePer], [CodeAction], [Description]) VALUES (N'IP002', N'Quản Lý', N'QL', N'Được phép quản lý toàn bộ hệ thống')
INSERT [dbo].[PERMISSION] ([IDPer], [NamePer], [CodeAction], [Description]) VALUES (N'IP003', N'Quản Lý Độc Giả', N'QLDG', N'Được phép quản lý thông tin độc giả')
GO
INSERT [dbo].[PHIEUMUONSACH] ([MaPhieuMS], [MaDocGia], [NgayMuon]) VALUES (N'PM000001', N'DG000002', CAST(N'2019-05-19' AS Date))
INSERT [dbo].[PHIEUMUONSACH] ([MaPhieuMS], [MaDocGia], [NgayMuon]) VALUES (N'PM000002', N'DG000003', CAST(N'2019-05-19' AS Date))
INSERT [dbo].[PHIEUMUONSACH] ([MaPhieuMS], [MaDocGia], [NgayMuon]) VALUES (N'PM000003', N'DG000005', CAST(N'2019-06-23' AS Date))
GO
INSERT [dbo].[PHIEUTRASACH] ([MaPhieuMS], [MaSach], [NgayTra], [SoNgayMuon], [TienPhat], [TinhTrangTraSach], [GhiChu]) VALUES (N'PM000001', N'S000030', CAST(N'2019-06-16' AS Date), 28, CAST(0 AS Decimal(18, 0)), N'Bình thường', N'')
INSERT [dbo].[PHIEUTRASACH] ([MaPhieuMS], [MaSach], [NgayTra], [SoNgayMuon], [TienPhat], [TinhTrangTraSach], [GhiChu]) VALUES (N'PM000002', N'S000004', CAST(N'2019-06-19' AS Date), 31, CAST(300000 AS Decimal(18, 0)), N'Mất', NULL)
INSERT [dbo].[PHIEUTRASACH] ([MaPhieuMS], [MaSach], [NgayTra], [SoNgayMuon], [TienPhat], [TinhTrangTraSach], [GhiChu]) VALUES (N'PM000005', N'S000002', CAST(N'2019-06-28' AS Date), 54, CAST(0 AS Decimal(18, 0)), N'Bình thường', NULL)
GO
INSERT [dbo].[SACH] ([MaSach], [TenSach], [MaTheLoai], [NamXuatBan], [NhaXuatBan], [MaTacGia], [NgayNhap], [TriGia], [MaTinhTrang]) VALUES (N'S000001', N'Kết hợp khai phá dữ liệu và phương pháp hình thức cho bài toán tổ hợp và kiểm chứng dịch vụ WEB', N'TL000001', 2018, N'Luận án', N'TG000001', CAST(N'2019-06-23' AS Date), CAST(100000 AS Decimal(18, 0)), N'TT002')
INSERT [dbo].[SACH] ([MaSach], [TenSach], [MaTheLoai], [NamXuatBan], [NhaXuatBan], [MaTacGia], [NgayNhap], [TriGia], [MaTinhTrang]) VALUES (N'S000002', N'Extended galerkin meshfree methods for fracture modeling in advanced funtional composite materials', N'TL000002', 2018, N'Luận án', N'TG000002', CAST(N'2019-06-23' AS Date), CAST(100000 AS Decimal(18, 0)), N'TT001')
INSERT [dbo].[SACH] ([MaSach], [TenSach], [MaTheLoai], [NamXuatBan], [NhaXuatBan], [MaTacGia], [NgayNhap], [TriGia], [MaTinhTrang]) VALUES (N'S000003', N'Nghiên cứu ảnh hưởng của độ ẩm và thành phần hạt mịn đến mô đun đàn hồi của nền đắp đất sét pha cát ', N'TL000002', 2018, N'Luận án', N'TG000003', CAST(N'2019-06-23' AS Date), CAST(250000 AS Decimal(18, 0)), N'TT003')
GO
INSERT [dbo].[TACGIA] ([MaTacGia], [TenTacGia]) VALUES (N'TG000001', N'Huỳnh Tấn Khải')
INSERT [dbo].[TACGIA] ([MaTacGia], [TenTacGia]) VALUES (N'TG000002', N'Nguyễn Thanh Nhã')
INSERT [dbo].[TACGIA] ([MaTacGia], [TenTacGia]) VALUES (N'TG000003', N'Phan Quang Chiêu')
GO
SET IDENTITY_INSERT [dbo].[THAMSO] ON 

INSERT [dbo].[THAMSO] ([MaThamSo], [TuoiToiDa], [TuoiToiThieu], [ThoiHanThe], [KhoangCachXB], [SoNgayMuonMax], [SoSachMuonMax], [TPTraTreMotNgay], [SoLuongTheLoaiMax], [SoLuongTacGia]) VALUES (1, 55, 18, 6, 8, 4, 5, CAST(1000 AS Decimal(18, 0)), 50, 100)
SET IDENTITY_INSERT [dbo].[THAMSO] OFF
GO
INSERT [dbo].[THELOAI] ([MaTheLoai], [TenTheLoai]) VALUES (N'TL000001', N'Tin Học')
INSERT [dbo].[THELOAI] ([MaTheLoai], [TenTheLoai]) VALUES (N'TL000002', N'Khoa Học Xây Dựng')
INSERT [dbo].[THELOAI] ([MaTheLoai], [TenTheLoai]) VALUES (N'TL000003', N'Khoa Học Kĩ Thuật')
GO
INSERT [dbo].[TINHTRANG] ([MaTinhTrang], [TenTinhTrang]) VALUES (N'TT001', N'Có sẵn')
INSERT [dbo].[TINHTRANG] ([MaTinhTrang], [TenTinhTrang]) VALUES (N'TT002', N'Đang mượn')
INSERT [dbo].[TINHTRANG] ([MaTinhTrang], [TenTinhTrang]) VALUES (N'TT003', N'Hỏng')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_ADMIN_IDAccount]    Script Date: 3/31/2021 12:37:41 AM ******/
ALTER TABLE [dbo].[ADMIN] ADD  CONSTRAINT [UQ_ADMIN_IDAccount] UNIQUE NONCLUSTERED 
(
	[IDAccount] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_DOCGIA_Email]    Script Date: 3/31/2021 12:37:41 AM ******/
ALTER TABLE [dbo].[DOCGIA] ADD  CONSTRAINT [UQ_DOCGIA_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_DOCGIA_IDUser]    Script Date: 3/31/2021 12:37:41 AM ******/
ALTER TABLE [dbo].[DOCGIA] ADD  CONSTRAINT [UQ_DOCGIA_IDUser] UNIQUE NONCLUSTERED 
(
	[IDAccount] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CTBCTKTRATRE] ADD  CONSTRAINT [DF_CTBCTKTRATRE_SoNgayTraTre]  DEFAULT ((0)) FOR [SoNgayTraTre]
GO
ALTER TABLE [dbo].[DOCGIA] ADD  CONSTRAINT [DF_DOCGIA_TongNo]  DEFAULT ((0)) FOR [TongNo]
GO
ALTER TABLE [dbo].[PHIEUTRASACH] ADD  CONSTRAINT [DF_PHIEUTRASACH_TienPhat]  DEFAULT ((0)) FOR [TienPhat]
GO
ALTER TABLE [dbo].[ADMIN]  WITH CHECK ADD  CONSTRAINT [FK_ADMIN_ACCOUNT] FOREIGN KEY([IDAccount])
REFERENCES [dbo].[ACCOUNT] ([IDAccount])
GO
ALTER TABLE [dbo].[ADMIN] CHECK CONSTRAINT [FK_ADMIN_ACCOUNT]
GO
ALTER TABLE [dbo].[CHITIETPHANQUYEN]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHANQUYEN_ACCOUNT] FOREIGN KEY([IDAccount])
REFERENCES [dbo].[ACCOUNT] ([IDAccount])
GO
ALTER TABLE [dbo].[CHITIETPHANQUYEN] CHECK CONSTRAINT [FK_CHITIETPHANQUYEN_ACCOUNT]
GO
ALTER TABLE [dbo].[CHITIETPHANQUYEN]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHANQUYEN_PERMISSION] FOREIGN KEY([IDPer])
REFERENCES [dbo].[PERMISSION] ([IDPer])
GO
ALTER TABLE [dbo].[CHITIETPHANQUYEN] CHECK CONSTRAINT [FK_CHITIETPHANQUYEN_PERMISSION]
GO
ALTER TABLE [dbo].[CTBCTKMUONSACH]  WITH CHECK ADD  CONSTRAINT [FK_CTBCTKMUONSACH_BCTKMUONSACH] FOREIGN KEY([MaBCTKMuonSach])
REFERENCES [dbo].[BCTKMUONSACH] ([MaBCTKMuonSach])
GO
ALTER TABLE [dbo].[CTBCTKMUONSACH] CHECK CONSTRAINT [FK_CTBCTKMUONSACH_BCTKMUONSACH]
GO
ALTER TABLE [dbo].[CTBCTKMUONSACH]  WITH CHECK ADD  CONSTRAINT [FK_CTBCTKMUONSACH_THELOAI] FOREIGN KEY([MaTheLoai])
REFERENCES [dbo].[THELOAI] ([MaTheLoai])
GO
ALTER TABLE [dbo].[CTBCTKMUONSACH] CHECK CONSTRAINT [FK_CTBCTKMUONSACH_THELOAI]
GO
ALTER TABLE [dbo].[CTBCTKTRATRE]  WITH CHECK ADD  CONSTRAINT [FK_CTBCTKTRATRE_BCTKTRATRE] FOREIGN KEY([MaBCTKTraTre])
REFERENCES [dbo].[BCTKTRATRE] ([MaBCTKTraTre])
GO
ALTER TABLE [dbo].[CTBCTKTRATRE] CHECK CONSTRAINT [FK_CTBCTKTRATRE_BCTKTRATRE]
GO
ALTER TABLE [dbo].[CTBCTKTRATRE]  WITH CHECK ADD  CONSTRAINT [FK_CTBCTKTRATRE_PHIEUTRASACH] FOREIGN KEY([MaPhieuMS], [MaSach])
REFERENCES [dbo].[PHIEUTRASACH] ([MaPhieuMS], [MaSach])
GO
ALTER TABLE [dbo].[CTBCTKTRATRE] CHECK CONSTRAINT [FK_CTBCTKTRATRE_PHIEUTRASACH]
GO
ALTER TABLE [dbo].[CTPHIEUMUON]  WITH CHECK ADD  CONSTRAINT [FK_CTPHIEUMUON_PHIEUMUONSACH] FOREIGN KEY([MaPhieuMS])
REFERENCES [dbo].[PHIEUMUONSACH] ([MaPhieuMS])
GO
ALTER TABLE [dbo].[CTPHIEUMUON] CHECK CONSTRAINT [FK_CTPHIEUMUON_PHIEUMUONSACH]
GO
ALTER TABLE [dbo].[CTPHIEUMUON]  WITH CHECK ADD  CONSTRAINT [FK_CTPHIEUMUON_SACH] FOREIGN KEY([MaSach])
REFERENCES [dbo].[SACH] ([MaSach])
GO
ALTER TABLE [dbo].[CTPHIEUMUON] CHECK CONSTRAINT [FK_CTPHIEUMUON_SACH]
GO
ALTER TABLE [dbo].[DOCGIA]  WITH CHECK ADD  CONSTRAINT [FK_DOCGIA_LOAIDOCGIA] FOREIGN KEY([MaLoaiDocGia])
REFERENCES [dbo].[LOAIDOCGIA] ([MaLoaiDocGia])
GO
ALTER TABLE [dbo].[DOCGIA] CHECK CONSTRAINT [FK_DOCGIA_LOAIDOCGIA]
GO
ALTER TABLE [dbo].[DOCGIA]  WITH CHECK ADD  CONSTRAINT [FK_DOCGIA_USER] FOREIGN KEY([IDAccount])
REFERENCES [dbo].[ACCOUNT] ([IDAccount])
GO
ALTER TABLE [dbo].[DOCGIA] CHECK CONSTRAINT [FK_DOCGIA_USER]
GO
ALTER TABLE [dbo].[PHIEUMUONSACH]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUMUONSACH_DOCGIA] FOREIGN KEY([MaDocGia])
REFERENCES [dbo].[DOCGIA] ([MaDocGia])
GO
ALTER TABLE [dbo].[PHIEUMUONSACH] CHECK CONSTRAINT [FK_PHIEUMUONSACH_DOCGIA]
GO
ALTER TABLE [dbo].[PHIEUTHUTIENPHAT]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTHUTIENPHAT_DOCGIA] FOREIGN KEY([MaDocGia])
REFERENCES [dbo].[DOCGIA] ([MaDocGia])
GO
ALTER TABLE [dbo].[PHIEUTHUTIENPHAT] CHECK CONSTRAINT [FK_PHIEUTHUTIENPHAT_DOCGIA]
GO
ALTER TABLE [dbo].[PHIEUTRASACH]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTRASACH_CTPHIEUMUON] FOREIGN KEY([MaPhieuMS], [MaSach])
REFERENCES [dbo].[CTPHIEUMUON] ([MaPhieuMS], [MaSach])
GO
ALTER TABLE [dbo].[PHIEUTRASACH] CHECK CONSTRAINT [FK_PHIEUTRASACH_CTPHIEUMUON]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [FK_SACH_TACGIA] FOREIGN KEY([MaTacGia])
REFERENCES [dbo].[TACGIA] ([MaTacGia])
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK_SACH_TACGIA]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [FK_SACH_THELOAI] FOREIGN KEY([MaTheLoai])
REFERENCES [dbo].[THELOAI] ([MaTheLoai])
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK_SACH_THELOAI]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [FK_SACH_TINHTRANG] FOREIGN KEY([MaTinhTrang])
REFERENCES [dbo].[TINHTRANG] ([MaTinhTrang])
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK_SACH_TINHTRANG]
GO
USE [master]
GO
